<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <% layout('./layouts/boilerplate') %>
    <div id="map" style="width:100%; height:300px"></div>
    <h1>All Camps</h1>
    <ul>
        <a href="/campgrounds/create">Create a new one</a>
    <% for (let camp of camps) {  %>
        <!-- <li>
             <a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a>
        </li> -->
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=camp.images[0].url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= camp.title %> </h5>
                        <p class="card-text"><%= camp.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= camp.location%></small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=camp._id%>">View <%=camp.title%></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    </ul>
    <script > const maptoken='<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds={features: <%- JSON.stringify(camps) %>}
    </script>
<script src="/js/clustermap.js"></script>
    
    <!-- received successsfully -->
<!-- </body>
</html> -->